.header-main {
    border-top: 4px solid #8cc63f;
}
.header-bottom nav.navbar {
    border-top: 1px solid #efefef;
}
.slider {
    background: #000;
}

.header-bottom .navbar-text{
    background: #FF9800;
}

.header-bottom .navbar-light .navbar-text {
    color: rgb(255 255 255 / 50%);
}
html {
     font-size: 62.5%;
}



     

.popular{
          
          border: 1px solid #adb5bd;
          height: 578px;
          margin-top: 62px;
          margin-bottom: 59px;
     }
.prow{
  height: 78px;
  border: 1px solid #adb5bd;
}     
.ptext{
  margin-top: 32px;
  margin-bottom: 34px;
  padding-left: 53px;
  font-size: 15px;
  font-weight: 600;
  
}
.hi{
      
      border: 0.1px solid #adb5bd;
      height: 77px;
      width: 79px;
      

}
.hlw{

      height: 77px;
      width: 88px;
     

}
.hitxt
{
  margin-top: 20px;
  padding-left: 28px;

}
.hlwtxt
{
  margin-top: 20px;
  padding-left: 16px;

}
.menujpg{
  margin-top: 49px;
  margin-bottom: 87px;
  padding-left: 50px;
}
.mitem1
{
 
  margin-top: 49px;
  margin-bottom: 87px;
  padding-left: 28px;
  width: 375px;

}
.mitem2{
  margin-top: 49px;
  margin-bottom: 87px;
  padding-left: 13px;
  width: 360px;

}
.mitem3{
  margin-top:-59px;
  width: 375px;
  padding-left: 28px;

}
.mitem4{

  width: 360px;
  margin-top:-59px;
  padding-left: 13px;

}
.mitem5{
  margin-top: 37px;
 width: 375px;
  padding-left: 28px;

}
.mitem6{
  width: 360px;
  margin-top: 37px;
  padding-left: 13px;

}

.dollar
{
font-size: 11px;
color: #e48713;
font-weight: 700;
}
.body-mos
{
      font-size: 15px;
      font-weight: 600;
  }

}
.last2 {
    margin-top:40px;
    padding-left:351px;
}
.vtxt{
   font-size: 16px;
   font-weight: 600;
}

.hic{
  text-align: end;
  margin-top: 23px

}




     #bg2{
          background: #131212;;
     }
.bg2:hover{
          background color: #FF9800;
     }
     
     .mid-hr{
         border-top: 4px solid #8cc63f;
     }
footer.footer-main {
   background: #212121;
   padding: 50px 0;
   color: #fff;
}
.newsletter p {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.newsletter input#inputPassword2 {
    width: 100%;
    min-width: 240px;
    padding: 19px 15px;
    border-radius: 25px;
    border: none;
}
.newsletter-input {
   width: 100%;
   max-width: 310px;
   position: relative;
}
.newsletter-input button {
   position: absolute;
   right: 0px;
   top: 0;
   bottom: 0;
   width: 38px;
   height: 38px;
   border: none;
   border-radius: 30px;
   background-color: #8cc63f !important;
}
}
.categories p{
    margin: 0;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 100;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
}
p.skin{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
}
p.ess{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
}
p.contact{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
}
.row-right
{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 4px;
}
.fup
{
       flex: 0 0 50%;
       max-width: 100%;
       margin-top: 56px;
       margin-bottom: 92px;
       font-size: 16px;
       font-weight: 600;
}
.lastone
{
      width: 270px;
      height: 346px;
}
.a:hover{
    color:#f4f8fb;
    text-decoration: none;
    background-color: transparent;
}
.a:hover{
    color: #f5f9fd;
    text-decoration: underline;
}
.card:hover{
   color: #f5f9fd;
    text-decoration: none;
    background-color: transparent;
}
.card1:hover{
    font-size: 17px;
    font-weight: 600;
    color: white;
    font-width: 600;
}
.pera1:hover
{
  
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(255,255,255,.13);
    font-size: 21px;
    font-weight: 600;

}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #020202;
    font-weight: 600;
    border-color: #101010;
}
.product-cat-menu h3 {
    color: #fff;
    background: #000;
    text-align: center;
    padding: 15px 10px;
}
.product-cat-menu ul li a {
    font-size: 20px;
    text-align: center;
    display: block;
    color: #000;
    line-height: 32px;
    font-weight: 600;
}
.product-cat-menu ul li a:hover {
    color: #ff8202;
    text-decoration: none;
}
.product-cat-menu ul{
   list-style: none;
}
.card-body {
    background-color: white;
}
.card-body:hover{
  display: block;
      background-color: black;
}

p.ltx{
        padding-left: 510px;
        font-size: 18px;
    }

